<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Wiki</title>
    <link rel="stylesheet" href="/css/site.css">
</head>

<body>
    <div>
        <aside>
            <div class="center">
                <img class="logo" src="/img/logo.png" alt="logo">
            </div>

            <nav>
             <a href="/">Main Page</a>
                <a href="/all-articles">All Articles</a>
                <form method="GET" action="/search">
                    <input type="text" name="searched">
                    <input type="submit" value="Search">
                </form>
                <a href="/create">Create New Article</a>
            </nav>
        </aside>
        <div id="container">
            <header>
                <span>Welcome, {{ user.username }}!</span>
                <a href="/logout">[Logout]</a>
            </header>
            <main>
                {{#if errors.description}}
				<section id="notifications">
				<p>{{ errors.description.message }}</p>
				</section>
                {{/if}}
                <h1>Welcome to SoftUni Wiki!</h1>
                <section>
                    <h2>Edit article
                    </h2>
                    <div class="spacer">
                        <form method="POST" action="/edit/{{article.id}}">
                            <label>Article title</label>
                            <h3>{{ article.title }}</h3>
                            <label>Content</label>
                            <textarea name="description">
                                {{ article.description }}
                            </textarea>
                            <input type="submit" value="Submit">
                        </form>
                    </div>
                </section>
            </main>
            <footer>
                SoftUni Wiki &copy; 2018 - 2019
            </footer>
        </div>
    </div>
</body>

</html>